/* Aligh CSS accordingly 
    -> First: Elements whcih are styled without class (body, div, etc)
    -> Second: Elements with Classes
    -> Third: Elements with IDs

    ----- OR ----

    Position css at it is in the HTML -> I use it for better navigation and I would advise you to use it as well but it's your preference :
        body {}
        header{}
        logo{}
        header-text{}
        ...etc
*/

body{
    font-family: Helvetica;
    font-size:22px;
    color:seashell; 
    background-color: black;
    opacity: 0.9;
}
.header{  
    display:flex;  /* No */
    position: fixed;
}
.header-text{
    display:flex;  /* No */
    margin-right:10px; /* No */
    text-decoration: underline; /* No */
}
.logo{
    height: 50px;
    margin-left:10px;
    margin-right:1280px; /* No */
}
.mission{ /* Not needed */
    margin-right: 20px;
}
.featured{ /* Not needed */
    margin-right:20px;
}
.locations{ /* Not needed */
    margin-right:10px;
}
.mission{
    position: relative;
    text-align: center;
    top: 69px;   
}
.mission-img{ 
    width: 1200px;
    height: 700px;
    border-bottom: 1px solid seashell;
}
.mission-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Not needed */
  background-color: black; 
  width: 1200px;
}