/* Aligh CSS accordingly 
    -> First: Elements whcih are styled without class (body, div, etc)
    -> Second: Elements with Classes
    -> Third: Elements with IDs

    ----- OR ----

    Position css at it is in the HTML -> I use it for better navigation and I would advise you to use it as well but it's your preference :
        body {}
        header{}
        logo{}
        header-text{}
        ...etc
*/

body{
    font-family: Helvetica;
    font-size:22px;
    color:seashell; 
    background-color: black;
    opacity: 0.9;
    text-align: center;
}
header{
    position: fixed; 
    width: 100% 
}
nav{
    position: absolute;
    right:10px;  
}
main{
    border-top: 1px solid seashell;
    position: relative;
    text-align: center;
    top: 69px;   
}
.logo{  
    position: absolute;
    height: 50px;
    left:10px;
}
.main-img{ 
    width: 1200px;
    height: 700px;
    border-bottom: 1px solid seashell;
}
.main-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Not needed */
  background-color: black; 
  width: 1200px;
}